{{!< default}}

<main class="ls-main">
    <section class="ls-home-hero">
        <div class="ls-container ls-home-hero__inner">
            {{#if @site.logo}}
                <img class="ls-home-hero__logo" src="{{@site.logo}}" alt="{{@site.title}}">
            {{else}}
                <div class="ls-home-hero__wordmark">{{@site.title}}</div>
            {{/if}}
            {{#if @site.description}}
                <p class="ls-home-hero__tagline">{{@site.description}}</p>
            {{/if}}
            <a class="ls-button" href="#games">See our games &rarr;</a>
        </div>
    </section>

    <section class="ls-games-section" id="games">
        <div class="ls-container">
            <div class="ls-section-heading">
                <h2>Our Games</h2>
            </div>
            {{#get "posts" filter="tag:hash-games" include="tags" limit="all" order="published_at desc"}}
                {{#if posts}}
                    <div class="ls-games-grid">
                        {{#foreach posts}}
                            {{> "game-card"}}
                        {{/foreach}}
                    </div>
                {{else}}
                    <p class="ls-empty-state">Games will appear here as soon as they are published.</p>
                {{/if}}
            {{/get}}
        </div>
    </section>
</main>
