<footer class="ls-footer">
    <div class="ls-container ls-footer__inner">
        <div class="ls-footer__brand">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}">
            {{else}}
                <span>{{@site.title}}</span>
            {{/if}}
        </div>
        <div class="ls-footer__meta">&copy; {{date format="YYYY"}} {{@site.title}}</div>
    </div>
</footer>
